@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  background-color: #cdb4db;
}

.login {
  margin-top: 450px;
  background-color: #bde0fe;
  height: 50%;
}

.login-image {
  margin-top: 10px;
}

.login-child {
  margin: 5px;
}

.login-button {
  margin: 5px;
  width: 125px;
}

.register-button {
  margin: 5px;
  width: 165px;
}

.register {
  margin-top: 450px;
  padding: 5px;
  background-color: #bde0fe;
  height: 50%;
}

.navbar {
  width: 1000px;
}

.navbar-btn {
  height: 50px;
  font-size: 25px;
}

.cards {
  width: 500px;
  height: 350px;
}

.group-cards {
  width: 1000px;
  height: 350px;
}

.image-drink {
  width: 100px;
}

.btn-cart {
  font-size: 30px;
  height: 55px;
  margin-top: 75px;
  margin-left: 900px;
}